workflows/github-pr-slack-notify.json
{
  "name": "GitHub PR → Slack Notification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-webhook",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "id": "webhook-1",
      "name": "GitHub Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.action }}",
              "rightValue": "opened",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        }
      },
      "id": "filter-1",
      "name": "Filter: PR Opened",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "channel": {
          "__rl": true,
          "value": "#dev-notifications",
          "mode": "name"
        },
        "messageType": "block",
        "blocksUi": {
          "messageBlocks": [
            {
              "type": "section",
              "fields": [
                {
                  "type": "mrkdwn",
                  "text": "*New PR:* <{{ $json.pull_request.html_url }}|{{ $json.pull_request.title }}>"
                },
                {
                  "type": "mrkdwn",
                  "text": "*Author:* {{ $json.pull_request.user.login }}"
                },
                {
                  "type": "mrkdwn",
                  "text": "*Repo:* {{ $json.repository.full_name }}"
                },
                {
                  "type": "mrkdwn",
                  "text": "*Branch:* {{ $json.pull_request.head.ref }} → {{ $json.pull_request.base.ref }}"
                }
              ]
            }
          ]
        }
      },
      "id": "slack-1",
      "name": "Slack: Send PR Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [690, 300],
      "credentials": {
        "slackApi": {
          "id": "REPLACE_ME",
          "name": "Slack API"
        }
      }
    }
  ],
  "connections": {
    "GitHub Webhook": {
      "main": [
        [{ "node": "Filter: PR Opened", "type": "main", "index": 0 }]
      ]
    },
    "Filter: PR Opened": {
      "main": [
        [{ "node": "Slack: Send PR Notification", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    { "name": "github" },
    { "name": "slack" },
    { "name": "notifications" }
  ]
}
