workflows/uptime-monitor.json
{
  "name": "Website Uptime Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-1",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://your-site.com",
        "options": {
          "timeout": 10000,
          "redirect": {
            "redirect": {
              "followRedirects": true
            }
          }
        }
      },
      "id": "http-1",
      "name": "Check Website",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        }
      },
      "id": "filter-1",
      "name": "Filter: Not 200",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "channel": {
          "__rl": true,
          "value": "#alerts",
          "mode": "name"
        },
        "text": ":rotating_light: *Site Down Alert*\n\n*URL:* https://your-site.com\n*Status:* {{ $json.statusCode || 'Connection Failed' }}\n*Time:* {{ $now.toISO() }}\n\nCheck immediately."
      },
      "id": "slack-1",
      "name": "Slack: Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [910, 300],
      "credentials": {
        "slackApi": {
          "id": "REPLACE_ME",
          "name": "Slack API"
        }
      }
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [{ "node": "Check Website", "type": "main", "index": 0 }]
      ]
    },
    "Check Website": {
      "main": [
        [{ "node": "Filter: Not 200", "type": "main", "index": 0 }]
      ]
    },
    "Filter: Not 200": {
      "main": [
        [{ "node": "Slack: Alert", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    { "name": "monitoring" },
    { "name": "slack" },
    { "name": "uptime" }
  ]
}
